.bt{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-transform: uppercase;
    border-radius: 0px;
    background-color: #2574A9;
    border-width: 0px;
    color: white;
}

